/****** Predefinisani bootstrap elementi *******/
.jumbotron{
	/* background-color: #ACEB98; Dodeli neku normalnu boju*/
	color:white;
	
}

.page-header{
	/* Linija izmedju navigacije i ostatka ekrana */	
	border-color: #BBBDF6;
}

/******* Default delovi stranice *******/

#PozadinaStranice {
	/* Sama podesavanja u vezi pozadine stranice */
	background:linear-gradient(
		rgba(0,0,0,0.17),
		rgba(0,0,0,0.17)),
	url("https://background-tiles.com/overview/green/patterns/large/1041.png");
	background-repeat: repeat;
}

#nagiacijaBarTransform{
	/* Transformacije koje se primenjljuju na bar za navigaciju */
	min-height: 15%;
	max-height: 15%;
	min-width: 75%;
	max-width: 75%;
	margin-left: 12%;
	margin-top: -7%;
	background-color: #ACEB98;
}

.navigacija{ 
	/* Gornji deo stranice koji sadrzi brz prelaz iz jedne u drugu stranicu*/
	/* Primenljuje se na listu elemenata unutar njega */
	text-align: center;
	margin-top: -7px;
}

.navigacioniItem{
	/* Itemi koji se nalaze u samoj navigaciji */
	display: inline-block;
	font-size: 20px;
	padding: 20px;
	padding-bottom: 0px;
}

#itemsBar{ 
	/* Ovo je pozadinski item koji drzi sve na ekranu sto se menja */
	background-color: #B1B1B1;
	color: #AD235E;
	min-height: 540px;
	margin-top: -10px;
	margin-bottom: -5px;
	padding-bottom: -5px;
}

/************* Page-Specific **************/

#asajdBar{
	/* Bar koji se nalazi sa leve strane pocetnog ekrana */
	background-color: #BDD8DA;
	color: #AD235E;
	min-height: 500px;
	max-width: 280px;
	margin-left: -50px;
	margin-top: -25px;
	padding-left: 30px;
	padding-right: 25px;
	padding-top: 25px;
	position: fixed;

}

#rajtBar{
	/* Bar, odnosno prikaz, koji se nalazi sa desne strane pocetnog ekrana*/
	background-color: #BDD8DA;
	color: black;
	min-height: 5000px; /*500px , ali je 5k px testiranja radi*/
	margin-top: -22px;
	margin-right: -50px;
}

#searchBarEventsTransform{
	/* Stilovi i formatiranje za search bar na ekranu za dogadjaje */
	min-height: 30px;
	max-height: 60px;
	/*Podesi unutrasnjost elemenata*/
	padding-top: 17px;
	padding-left: 25px;
	padding-right: 25px;
	/*Podesi poziciju search bara*/
	margin-top: -25px;
	margin-left: -35px;
	margin-right: -35px;

}

#dodajNoviDogadjaj{
	/* Transformacije koje se primenljuju na pozadinu ekrana za dodavanje novog dogadjaja */
	min-height: 500px;
	margin-left: -60px;
	margin-right: -60px;
	margin-top: -48px;
	padding-left: 80px;
}

#loginBox{
	/* Izgled login box-a na ekranu za prijavljivanje */
	background-color: rgb(75,75,75);
	min-width: 480px;
	max-width: 480px;
	text-align: center;
	margin-left: 25%;
	margin-top: 2%;
	padding-top: 25px;
	padding-bottom: 25px;
}

#registerBox{
	/* Izgled register box-a na ekranu za registraciju */
	background-color: rgb(75,75,75);
	min-width: 580;
	max-width: 580px;
	text-align: center;
	margin-left: 20%;
	margin-top: 2%;
	padding-top: 25px;
	padding-bottom: 25px;
}

#eventBox{
	/* Pozadina na kojoj se prikazuje sam događaj */
	background-color: rgb(75,75,75);
	min-height: 500px;
	margin-left: -60px;
	margin-right: -60px;
	margin-top: -48px;
	padding-left: 0px;
	padding-top: 20px;	
	text-align: center;
}

#opisDogadjajaKontejner{
	/* Prikaz polja za prikaz opisa */
	margin-left: 70px;
	background-color: rgb(13,13,13);
	padding-left: 45px;
}

#unosKomentaraKontejner{
	/* Prikaz polja sa elementima za unos komentara */
	margin-left: 70px;
	width: 100%;
	max-height: 60px;
	padding-top: 
}

#karticaZaKomentar{
	/* Kartica na kojoj se prikazuje komentar */
	margin-left: 70px;
	text-align: left;
}

#korisnikBoard{
	/* Pozadina stranice za korisnika */
	background-color: rgb(75,75,75);
	min-height: 540px;
	margin-left: -60px;
	margin-right: -60px;
	margin-top: -48px;
	padding-left: 0px;
	padding-top: 20px;
}

#podaciKorisnika{
	/* Prikaz svih podataka o korisniku na prikazu o Korisniku */
	max-width: 60%;
	max-height: 128px;
	margin-left: 22%;
	margin-right: -20px;
	padding-top: 8px;
	color: red;
}

#korUserPosition{
	/* Pozicija korisnickog imena na ekranu o Korisniku */
	margin-left: 0px;
	margin-top: -35px; 
}

#logOutPosition{
	/* Pozicija logout texta na ekranu o Korisniku */
	margin-left: 0px;
	margin-top: -35px; 	
}

#logOutPosition:hover {
	/* Pravi h3 kao da je link */
	cursor: pointer;
}

#KreOmiDog{
	/* Pozadina koja drzi u isto vreme i omiljene i kreirane dogadjaje */
	margin-left: 60px;
}

#dogadjajBarKorisnicki{
	/* Polja koja sadrze zasebno omiljene i kreirane dogadjaje korisnika */
	text-align: center;
	padding-top: 20px;
}

#specijalniTekstKorisnika{
	/* Tekstovi kod omiljenih i kreiranih dogadjaja na ekranu o Korisniku */
	color:red;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}




