<div>
	<!-- Search bar -->
	<div class="jumbotron" id="searchBarEventsTransform">
		<div class="row">
			<div class="input-group input-group-sm">
				<span class="input-group-addon">Naziv događaja: </span>
				<input type="text" class="form-control" name="nazivDogadjaja" placeholder="Unesite naziv događaja" style="min-width: 170px">
				<span class="input-group-addon">Kreirao: </span>
				<input type="text" class="form-control" name="nazivKorisnika" placeholder="Unesite korisničko ime" style="min-width: 170px;">
				<span class="input-group-addon">
					<input type="checkbox" name="ckbxDatumDesavanja" style="vertical-align:middle; max-height: 10px" >
					<span>Datum dešavanja:</span>
				</span>
				<input type="date" class="form-control"  name="datumDesavanja" maxlength="10" id="dateInputBox" style="text-align: center; min-width: 64px">
				<span class="input-group-addon">
					<span>Prikaži arhivirane događaje</span>
					<input type="checkbox" name="ckbxArhivirani" style="vertical-align:middle">
				</span>
				<span class="input-group-btn">
					<button class="btn btn-default">Pretraži</button>
				</span>
			</div>
		</div>
	</div>

	<!-- Display field-->
	<div>
		

		<!-- Prikaz dogadjaja -->
		<div ng-repeat="dog in Dogadjaji">
			<div class="card">
			  <div class="cardContainer">
			    <h4><b>{{dog.KreiraoKorisnik}} - {{dog.imeDogadjaja}}</b></h4>
			    	<p>{{dog.kratakOpis}}   
			    		<button class="btn btn-default" ng-click="pogledajDogadjaj(dog.ID)">Pogledaj više</button>
			    	</p>
			  </div>
			</div>
			<br/>
		</div>


	</div>

</div>