<div>

<!-- Aside  -->	
<div class="col-lg-3 col-md-3 col-sm-2 col-xs-2" >
	<div class="jumbotron" id="asajdBar">
		Ovde ce biti naj dogadjaji.
		<br/>
		<br/>
		Ut tellus lacus, mattis efficitur mollis nec, mollis non metus. Aliquam orci orci, egestas et elit ac, volutpat facilisis odio. Donec turpis lectus, venenatis nec libero eget, consequat dignissim massa. Fusce vitae interdum nisl. Pellentesque in gravida quam, eget cursus erat. Maecenas vitae semper arcu. Aenean quis lorem ac ipsum pellentesque blandit sed nec tellus. Phasellus vitae justo a nulla efficitur dignissim sit amet non tortor. 
	</div>
</div>

<!-- Page content -->
<div class="col-lg-9 col-md-9 col-sm-10 col-xs-10">
	<div class="jumbotron" id="rajtBar">
		Pozadinska boja ce biti nevidljiva. Takodje, ovo mora da se resizuje
		za do max 10 elemenata.
		<br/>
		Takodje, ovaj levi sidebar bi bio lep kada bi se pomerao sa strane dok
		korisnik skrola kroz stranicu.

		<br/>
		<br/>
		Pocetna, dogadjaji i o nama linkovi rade.
		<br/>
		Svi oni fajlovi koji se sa neta ucitavaju su, brzine ucitavanja stranice 
		radi skinuti su i smesteni u folder Scripts.
	</div>
</div>
	
</div>

