<div>
	<div class="jumbotron" id="korisnikBoard">
		<!-- Podaci o korisniku -->
		<div class="row">
			<div class="jumbotron" id="podaciKorisnika">
				<h3 id="" style="text-align: left;">{{Ime}} {{Prezime}}</h3> 
				<h3 id="korUserPosition" style="text-align: right;">{{User}}</h3>
				<h3 style="text-align: left;">{{Email}}</h3>
				<h3 id="logOutPosition" href= "" style="text-align: right;" onclick="odjaviKorisnika()">Odjavi se</h3>
			</div>
		</div>
		<br/>
		<!-- Omiljeni i kreirani dogadjaji -->
		<div id="KreOmiDog">
			<!-- Kreirani dogadjaji -->
			<div ng-if="kreiraniSize>0" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
				<div class="jumbotron" id="dogadjajBarKorisnicki">
					<h3 id="specijalniTekstKorisnika">Kreirani događaji:</h3>
					<br/>
					<div ng-repeat="kre in kDogadjaji">
						<div class="card">
						  <div class="cardContainer">
						    <h4><b>{{kre.imeDogadjaja}}</b></h4>
						    	<button class="btn btn-default" ng-click="pogledajDogadjaj(kre.ID)"">Pogledaj više</button>
						  </div>
						</div>
						<br/>
					</div>
				</div>
			</div>

			<!-- Omiljeni dogadjaji -->
			<div ng-if="omiljeniSize>0" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="jumbotron" id="dogadjajBarKorisnicki">
					<h3 id="specijalniTekstKorisnika">Omiljeni događaji:</h3>
					<br/>
					<div ng-repeat="omi in oDogadjaji">
						<div class="card">
						  <div class="cardContainer">
						    <h4><b>{{omi.imeDogadjaja}}</b></h4>
						    	<button class="btn btn-default" ng-click="pogledajDogadjaj(omi.ID)">Pogledaj više</button>
						  </div>
						</div>
						<br/>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>