<div>
	<!-- Bela pozadina kako bi ostalo bilo lepo vidljivo -->
	<div class="jumbotron" id="dodajNoviDogadjaj">
		
		<!-- Prvi red - naziv i kategorija dogadjaja -->
		<div class="row">
			<div class="input-group input-group-md">
				<span class="input-group-addon">Naziv događaja: </span>
				<input type="text" class="form-control" name="nazivDogadjaja" placeholder="Unesite naziv događaja" style="min-width: 520px">
				<div class="input-group-addon">Kategorija: </div>
				<div class="dropdown" >
				<button class="btn btn-primary dropdown-toggle btn-md" type="button" data-toggle="dropdown" style="vertical-align: top">
					<span id="vrstaKategorije">Odaberi</span>
				  <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" id ="listaKategorija">
				  <li><a href="" onclick="izmeniKategoriju('Muzika')">Muzika</a></li>
				  <li><a href="" onclick="izmeniKategoriju('Sport')">Sport</a></li>
				  <li><a href="" onclick="izmeniKategoriju('Provod')">Provod</a></li>
				  <li><a href="" onclick="izmeniKategoriju('Javni skupovi')">Javni skupovi</a></li>
				</ul>
				</div>
			</div>
		</div>
		<br/>
		<!-- Drugi red - vreme i mesto odrzavanja dogadjaja-->
		<div class="row">
			<div class="input-group input-group-md">
				<span class="input-group-addon">Mesto održavanja događaja: </span>
				<input type="text" class="form-control" name="mestoDogadjaja" placeholder="Unesite mesto održavanja događaja" style="min-width: 360px">
				<span class="input-group-addon">Vreme održavanja događaja: </span>
				<input type="date" class="form-control"  name="datumDesavanja" id="dateInputBox" style="text-align: center; max-width: 172px">
			</div>
		</div>
		<br/>
		<!-- Treci red - prilog uz dogadjaj -->
		<div class="row">
			<div class="input-group input-group-md">
				<span class="input-group-addon">Prilog: </span>
				<input type="text" class="form-control" name="linkPriloga" placeholder="Link ka prilogu" style="min-width: 360px; max-width: 934px;">
			</div>
		</div>
		<br/>
		<!-- Cetvrti red - kratak opis dogadjaja-->
		<div class="row">
			<div class="input-group input-group-md">
				<span class="input-group-addon">Kratak opis: </span>
				<input type="text" class="form-control" name="opisDogadjajaKratak" placeholder="Kratak opis (max 120 karaktera)" maxlength="120" style="min-width: 360px; max-width: 901px">
			</div>
		</div>
		<br/>
		<!-- Peti red - Opis -->
		<div class="row">
			<div class="form-group">
				<textarea class="form-control" id="opisDogadjajaCeliID" name="opisDogadjajaCeli" rows="10" cols="35" placeholder="Opis događaja" style="min-width: 970px; max-width: 970px; min-height: 200px; max-height: 200px; margin-left: 15px;"></textarea>
			</div>
		</div>
		<br/>
		<!-- Sesti red - Dugme za cuvanje dogadjaja-->
		<div class="row">
			<div class="input-group input-group-md">
				
				<div class="input-group-btn">
					<button class="btn btn-default" name="dugmeObjavi" style="min-width: 128px; max-width: 128px; margin-left: 43%; margin-top: -20px;" ng-click="submitujPodatke()">Objavi događaj</button>
				</div>
				
			</div>
		</div>
		<br/>

	</div>
</div>