<div>
	<div class="jumbotron" id="loginBox">
		<div class="row">
			<h2>Prijava</h2>
			<br/>
		</div>
		<div class="row">
			<br/>
			<input type="text" class="form-control" name="username" id="loginUsername" placeholder="Korisničko ime" style="min-width: 170px">
		</div>
		<div class="row">
			<br/>
			<input type="password" class="form-control" name="password" id="loginPass" placeholder="Lozinka" style="min-width: 170px">
		</div>
		<div class="row">
			<br/>
			<span class="input-group-btn">
				<button class="btn btn-default" onclick="pokusajPrijavljivanje()">Prijavi se</button>
			</span>
			<br/>
		</div>
			<p>{{outMessage}}</p>
			<p style="margin-top: -20px;">{{outMessage2}}</p>
	</div>
</div>