<div>
	<div class="jumbotron" id="eventBox" ng-cloak>

		<!-- Telo dogadjaja -->
		<div>
			<div class="row">
				<h2 id="nazivDogadjaja">{{dogIme}}</h2>
				<h5 id="kreatorDogadjaja">{{korIme}}</h5>
			</div>
			<br/>
			<div class="row" ng-if="prilogValidity">
				<img ng-src="{{Prilog}}" id="attachmentDogadjaja" style="width: 100%; padding-left: 70px;" />
			</div>
			<br ng-if="prilogValidity"/>
			<div class="row">
				<div class="jumbotron" id="opisDogadjajaKontejner">
					<p id="opisDogadjaja">{{opisDog}}</p>
				</div>
			</div>
			<div class="row" ng-if="!mojDogadjaj">
				<span class="input-group-btn">
					<button ng-if="omiljenoDugmeStanje==0" class="btn btn-default" onclick="dodajOmiljeni()" style="margin-left: 20px;">Dodaj u omiljene</button>
					<button ng-if="omiljenoDugmeStanje==1" class="btn btn-default" onclick="ukloniOmiljeni()" style="margin-left: 20px;">Ukloni iz omiljenih</button>
				</span>
				<br/
			</div>
		</div>

		<!-- Polje za dodavanje novog komentara -->
		<div>
			<div class="row">
				<div class="input-group input-group-lg">
					<input type="text" class="form-control" id="tekstKomentara" name="komentarBox" placeholder="Unesite komentar" style="margin-left:70px;">
					<span class="input-group-btn">
						<button class="btn btn-default" id="objaviKomentar">Objavi</button>
					</span>
				</div>
			</div>
		</div>
		<br/>

		<!-- Komentari -->
		<div>
			<div class="row" ng-repeat="kom in Komentari">
				<div class="card" id="karticaZaKomentar">
				  <div class="cardContainer">
				    <h4><b>{{kom.Korisnik}}</b> : {{kom.Komentar}}</h4>
				  </div>
				</div>
				<br/>
			</div>
		</div>

	</div>
</div>