<div>
	<div class="jumbotron" id="registerBox">
		<div class="row">
			<h2>Registracija</h2>
			<br/>
		</div>
		<div class="row">
			<div class="input-group input-group-sm">
				<span class="input-group-addon">Ime: </span>
				<input type="text" class="form-control" name="ime" id="imeKorisnika">
				<span class="input-group-addon">Prezime: </span>
				<input type="text" class="form-control" name="prezime" id="prezimeKorisnika">
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="input-group input-group-sm">
				<span class="input-group-addon">Email adresa: </span>
				<input type="email" class="form-control" name="email" id="emailKorisnika">
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="input-group input-group-sm">
				<span class="input-group-addon">Korisničko ime: </span>
				<input type="text" class="form-control" name="username" id="usernameKorisnika">
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="input-group input-group-sm">
				<span class="input-group-addon">Lozinka: </span>
				<input type="password" class="form-control" name="password" id="lozinkaKorisnika">
			</div>
		</div>
		<br/>
		<div class="row">
			<span class="input-group-btn">
				<button class="btn btn-default" onclick="pokusajRegistracije()">Registruj se</button>
			</span>
		</div>
		<div>
			<br/>
			<p id="afterText"></p>
		</div>
	</div>
</div>