<html data-ng-app="kasandraApp">

<head>
<title>Kasandar</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width = device-width, initial-scale = 1">
<link rel="stylesheet" type="text/css" href="Scripts/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="Scripts/stilovi.css">
<link rel="stylesheet" type="text/css" href="Scripts/animations.css">
<script src="Scripts/jquery.min.js"></script>
<script src="Scripts/angular.js"></script>
<script src="Scripts/angular-route.js"></script>
<script src="Scripts/misc-scripts.js"></script>
<script src="Scripts/app.js"></script>
</head>

<body id="PozadinaStranice">

<div class="container">

	<!-- Navigacioni bar (Header) -->
	<div class="page-header" ng-controller="navigacioniController">
		<div class="jumbotron" id="nagiacijaBarTransform">
			<div class="navigacija">
				<a class="navigacioniItem" href="#!home">Početna</a>
				<a class="navigacioniItem" href="#!dogadjaji">Događaji</a>
					<a ng-if="ulogovanKorisnik" class="navigacioniItem" href="#!kreirajDogadjaj">Kreiraj događaj</a>
				<div class="navigacioniItem">
					<div ng-if="!ulogovanKorisnik"><a href='#!prijava'>{{textToDisplay1}}</a> {{textInBetween}} <a href='#!registracija'>{{textToDisplay2}}</a></div>
					<div ng-if="ulogovanKorisnik"><a href='#!korisnik'>{{textToDisplay1}}</a></div>
				</div>
			</div>
		</div>
	</div>
	<br/>

	<div class="row">
		<!-- Sadrzaj ekrana -->
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="jumbotron" id="itemsBar">
				<!-- Sadrzaj ekrana -->
				<ng-view></ng-view>
			</div>
		</div>
	</div>

</div>

<!-- Skripte -->
<script src="Scripts/popper.min.js"></script>
<script src="Scripts/bootstrap.min.js"></script>
<script src="Scripts/moment.js"></script>
<script src="Scripts/bootstrap-datetimepicker.min.js"></script>
</body>
</html>